<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="-1" parallel="classes" name="Suite">
  <test parallel="classes" name="Test">
    <classes>
      <class name="com.test.DragAnddroptest"/>
      <class name="com.test.FileUpload"/>
      <class name="com.test.DetailsFill"/>
      <class name="com.test.HiddenElement"/>
      <class name="com.test.Labeltest"/>
      <class name="com.test.DatePickByIco"/>
      <class name="com.test.DoubleClickTest"/>
      <class name="com.test.DatePick"/>
      <class name="com.test.HoverExample"/>
      <class name="com.test.NewTabTest"/>
      <class name="com.test.HandleLinks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
